<!doctype html>
<html>
<head>
  <title>Notes::Web</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="<%= @root %>/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="<%= @root %>/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body>

  <%= yield %>


  <!--
   Template for a flag checkbox in the sidebar
   Wrapped by Backbone in a div.flag-container

   TODO: color pairing needs testing
   TODO: concat with distinct, default, or selected?

  -->
  <script id="tmpl-flag" type="text/template">
    {{ var checkedClass = flag.checked ? 'checked' : ''; }}
    {{ var colorClass   = 'color-' + Notes.colorFor(flag.name); }}

    <div class="checkbox {{= checkedClass }} {{= colorClass }}"></div>
    <span>{{= flag.name }}</span>
    <a href="#" class="delete-flag-btn">&times;</a>
  </script>


  <!--
   Template for a single task
   Wrapped by Backbone in a div.task

   TODO: multiple flag case!
  -->
  <script id="tmpl-task" type="text/template">
    <div class="task-header">
      {{ var flag = task.get('flags')[0]; }}
      {{ var colorClass = 'color-' + Notes.colorFor(flag); }}

      <div class="task-type {{= colorClass }}">{{= flag }}</div>
      <div class="task-info">
        <span class="task-author">{{= task.get('author') }} TODO SHA</span>
        <span class="task-date">{{= task.get('date') }}</span>
      </div>
    </div>

    <div class="task-body">
      <code class="task-lines">
        {{ var ltrim_count = Notes.min_ltrim(task.allLines()); }}
        <pre class="task-line">{{= task.escapedLine().substr(ltrim_count) }}</pre>
        <div class="task-context">
          {{ task.escapedContextLines().forEach(function(line) { }}
            {{ var trimmedLine = line.substr(ltrim_count); }}
            <pre class="task-line">{{= trimmedLine === '' ? "&nbsp;" : trimmedLine }}</pre>
          {{ }); }}
        </div>
      </code>

      {{ if (task.get('context') !== "") { }}
        <div class="task-toggle-container">
          <i class="task-toggle fa fa-angle-down"></i>
        </div>
      {{ } }}
    </div>
  </script>

  <!-- TODO: minify/concatenate these -->
  <script src="<%= @root %>/javascripts/lib/jquery-1.10.2.min.js"></script>
  <script src="<%= @root %>/javascripts/lib/d3.min.js"></script>
  <script src="<%= @root %>/javascripts/lib/underscore.min.js"></script>
  <script src="<%= @root %>/javascripts/lib/backbone.min.js"></script>
  <script src="<%= @root %>/javascripts/application.js"></script>

</body>
</html>
